In [4]:
#Exercise 1: Print First 10 natural numbers using while loop
i = 1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [9]:
#Exercise 2: Reverse this list [500, 400, 300, 200, 100] in Python
#using the reverse(). syntex is list.reverse()
original_list = [500, 400, 300, 200, 100]
original_list.reverse()

print(original_list)

[100, 200, 300, 400, 500]

In [15]:
#Exercise 5: Display numbers divisible by 5 from a list [10, 20, 33, 46, 55]
numbers = [10, 20, 33, 46, 55]
divisible_by_5 = [number for number in numbers if number % 5 == 0]
print(divisible_by_5)

[10, 20, 55]

In [16]:
#Exercise 3: Calculate the sum of all numbers in the following list [55,32,75,86,49,11,120]
numbers = [55, 32, 75, 86, 49, 11, 120]
total_sum = sum(numbers)
print(total_sum)

428

In [6]:
l1 = [3,6,9,12,15,18,21]
l2 = [4,8,12,16,20,24,28]
l3 = []
#using zip code
for item1, item2 in zip(l1[1::2], l2[::2]:
    l3.append(item1)
    l3.append((item2)

    print(l3)

SyntaxError: invalid syntax (2527629298.py, line 5)